@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');
body{
    margin: 0;
    padding: 0;
}
.title{
    color: white;
    font-family:'Mulish', sans-serif;

    color: white;
    text-shadow: 0px 4px 3px rgba(253, 253, 211, 0.4)
    }

.objd{
width: 700px;
height: auto;
}
 .con{
    background: #4825C7;
} 
.conta{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.conta .card {
    position: relative;
    width:280px;
    height:400px;
    margin: 30px;
    box-shadow: 20px,20px,50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(225,225,225,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1 solid rgba(225,225,225,0.5);
    border-left: rgba(225,225,225,0.5);  
    backdrop-filter: blur(5px);
    padding: 0;
}
.conta .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.conta .card:hover .content{
transform: translateY(0px);
opacity: 1;
}
.conta .card .content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
    pointer-events: none;

}
.conta .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.conta .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.conta2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.conta2 .card2 {
    position: relative;
    width: 95%;
    height:350px;
    margin: 30px;
    box-shadow: 20px,20px,50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(225,225,225,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1 solid rgba(225,225,225,0.5);
    border-left: rgba(225,225,225,0.5);  
    backdrop-filter: blur(5px);
    padding: 0;
}
.conta2 .card2 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.conta2 .card2:hover .content{
transform: translateY(0px);
opacity: 1;
}
.conta2 .card2 .content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
    pointer-events: none;

}
.conta2 .card2 .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.input{
    width: 200px;
    height: auto;
    background-color: rgba(255,255,255,0.05);
}
.sidebar{
    height: 270px;
    width: 59px;
    background:rgb(147,112,219);
    border-radius: 50px;
    padding: 0;
    position: fixed;
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 200px;
}
.containerIcon{
    background-color:rgba(255,255,255,0.05);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 5px;
   display: grid;
    align-content: center;    /* aligns vertically */
    justify-content: center;

}
.icon{
    color: black;
    font-weight: 300;
    text-align: center;
}